html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
}
#search-bar {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 10px;
}
